[Unit]
Description=Night Kitchen weekly tasks
Documentation=https://github.com/bnavetta/night-kitchen
Requires=multi-user.target
After=multi-user.target
AllowIsolate=no
