[Unit]
Description=Scheduling daemon for Night Kitchen
Documentation=https://github.com/bnavetta/night-kitchen

[Service]
ExecStart=/usr/lib/night-kitchen/night-kitchen-scheduler
RuntimeDirectory=night-kitchen

[Install]
WantedBy=multi-user.target
