[Unit]
Description=Runs Night Kitchen daily tasks
Documentation=https://github.com/bnavetta/night-kitchen

[Service]
Type=oneshot
ExecStart=/usr/lib/night-kitchen/night-kitchen-runner night-kitchen-daily.target
